body {
  font-family: Arial;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  margin: 0;
  padding: 0;
}

nav {
  background: #222;
  padding: 12px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

h1 {
  color: #2c3e50;
  padding: 20px;
}

p {
  padding: 0 20px;
  font-size: 18px;
}
