body {
    background: linear-gradient(135deg,#141e30,#243b55);
    color:white;
    font-family: Arial;
}

button {
    border-radius:30px;
    padding:10px 20px;
    background:#ff416c;
    border:none;
    color:white;
}
